In [89]:
import numpy as np
import pandas as pd
import datetime
from dateutil.parser import parse

In [90]:
import json

In [91]:
with open('snowfalls.json', 'r') as infile:
    snowfalls_json = json.load(infile)

# Explore the structure of the JSON-like object holding the snowfall amounts by month.

In [92]:
len(snowfalls_json) # one dictionary

1

In [93]:
type(snowfalls_json)

dict

In [94]:
snowfalls_json.keys() # the first-level key points to a list of dictionaries

dict_keys(['snowfalls'])

In [95]:
snowfalls_json['snowfalls'][0].keys() # the third level - keys of dicts inside the list

dict_keys(['date', 'data'])

In [96]:
snowfalls_json['snowfalls'][0]['date']

'201701'

In [97]:
snowfalls_json['snowfalls'][0]['data'].keys()

dict_keys(['description', 'data'])

In [98]:
snowfalls_json['snowfalls'][0]['data']['data'].keys() # the fourth level keys in 'data'

dict_keys(['USC00210018', 'USC00210075', 'USC00210146', 'USC00210157', 'US1MNAA0054', 'USC00210252', 'USC00210287', 'US1MNMW0003', 'USC00210355', 'USC00210387', 'US1MNCS0003', 'US1MNOT0003', 'US1MNSH0019', 'US1MNKD0001', 'USC00210643', 'USC00210667', 'USC00210746', 'US1MNSH0010', 'US1MNRV0008', 'US1MNRV0005', 'USC00210809', 'USC00210855', 'US1MNIS0008', 'USC00210939', 'US1MNCW0008', 'US1MNCW0003', 'USC00210974', 'USC00210981', 'USC00210989', 'US1MNKB0003', 'US1MNHN0134', 'USC00211063', 'USC00211065', 'USC00211074', 'USC00211174', 'USC00211198', 'US1MNHS0004', 'USC00211227', 'USC00211250', 'USC00211263', 'USC00211310', 'US1MNCN0001', 'US1MNCV0001', 'USC00211374', 'USC00211422', 'US1MNCV0027', 'USC00211448', 'USC00211468', 'US1MNFM0001', 'US1MNSL0015', 'US1MNDD0011', 'USC00211630', 'USC00211691', 'US1MNBW0008', 'US1MNSL0034', 'USC00211771', 'US1MNWG0033', 'USC00211840', 'US1MNPK0013', 'US1MNSL0096', 'USC00212023', 'USC00212038', 'US1MNOT0007', 'USC00212088', 'US1MNOT0015', 'USC00212142', 'USC00212146', 'US1MNBK0010', 'US1MNSL0018', 'US1MNSL0002', 'US1MNSL0005', 'US1MNSL0020', 'US1MNSL0076', 'USW00014913', 'USC00212250', 'US1MNDK0070', 'US1MNHN0086', 'US1MNHN0017', 'US1MNPS0001', 'US1MNHN0019', 'US1MNHN0089', 'US1MNHN0110', 'US1MNOL0991', 'USC00212486', 'USC00212500', 'US1MNSC0025', 'US1MNSE0003', 'USC00212561', 'USC00212555', 'USC00212576', 'US1MNPK0002', 'USC00212645', 'USC00212721', 'USC00212842', 'USC00212881', 'USC00213076', 'USC00213104', 'US1MNMC0005', 'US1MNMC0006', 'USC00213174', 'US1MNHN0088', 'US1MNPG0003', 'USC00213282', 'USC00213290', 'USC00213296', 'US1MNIT0001', 'US1MNIT0007', 'USC00213303', 'USC00213311', 'US1MNSB0004', 'USC00213411', 'USC00213417', 'USC00213567', 'US1MNSL0006', 'US1MNTD0004', 'USC00213808', 'USC00214008', 'USW00014918', 'US1MNDK0014', 'USC00214077', 'USC00214093', 'USC00214103', 'USC00214106', 'USC00214176', 'USC00214191', 'US1MNSL0095', 'US1MNIT0006', 'US1MNDS0006', 'USC00214373', 'US1MNRM0001', 'USC00214418', 'USC00214438', 'US1MNGH0003', 'US1MNBK0006', 'USC00214534', 'USC00214453', 'US1MNDK0049', 'US1MNDK0073', 'US1MNDK0053', 'USC00214546', 'US1MNHB0003', 'US1MNLS0012', 'USC00214652', 'USC00214692', 'USC00214778', 'US1MNMR0004', 'US1MNHN0006', 'USC00214861', 'US1MNTD0005', 'USC00214884', 'US1MNRW0003', 'USC00214990', 'USC00214994', 'USC00215089', 'US1MNDD0003', 'US1MNHN0031', 'US1MNHN0150', 'US1MNHN0072', 'USC00215204', 'US1MNLY0002', 'US1MNAT0004', 'USC00215325', 'US1MNWD0980', 'USC00215392', 'USC00215400', 'US1MNHN0160', 'US1MNHN0099', 'US1MNHN0009', 'US1MNHN0022', 'US1MNHN0108', 'US1MNHN0028', 'USW00014922', 'USC00215482', 'USC00215488', 'US1MNHN0014', 'US1MNCP0001', 'USC00215563', 'US1MNRC0001', 'US1MNCY0001', 'USC00215598', 'USC00215615', 'US1MNSV0003', 'USC00215638', 'US1MNGH0004', 'USC00215838', 'US1MNRC0011', 'US1MNBW0002', 'USC00215888', 'USC00215902', 'US1MNCG0016', 'US1MNCG0027', 'US1MNRM0002', 'US1MNDK0063', 'USC00215989', 'US1MNWG0035', 'US1MNML0001', 'USC00216166', 'USC00216211', 'USC00216225', 'USC00216276', 'US1MNOT0009', 'USC00216287', 'US1MNSE0002', 'US1MNOT0006', 'US1MNCS0001', 'USC00216547', 'US1MNWG0008', 'USC00216565', 'US1MNHN0030', 'USC00216612', 'USC00216654', 'US1MNFM0004', 'US1MNSH0985', 'US1MNSC0002', 'USC00216787', 'USC00216795', 'USC00216817', 'USC00216822', 'USC00216839', 'US1MNRV0011', 'USC00216920', 'US1MNHN0078', 'US1MNOT0018', 'US1MNOT0013', 'US1MNHN0128', 'US1MNOL0018', 'US1MNOL0006', 'USC00217011', 'USW00014925', 'USC00217020', 'US1MNRS0001', 'US1MNDK0011', 'US1MNDK0067', 'US1MNDK0044', 'USC00217107', 'US1MNRM0056', 'US1MNRM0015', 'US1MNRM0046', 'USC00217149', 'US1MNCG0001', 'USC00217184', 'US1MNSL0082', 'US1MNSR0004', 'US1MNAA0004', 'US1MNHN0152', 'US1MNWR0008', 'US1MNWR0025', 'US1MNRM0039', 'US1MNRM0007', 'US1MNRM0054', 'US1MNNC0003', 'USC00217460', 'US1MNSR0009', 'USC00217602', 'US1MNLK0009', 'US1MNMC0007', 'USC00217917', 'US1MNHN0083', 'USC00217941', 'US1MNBW0001', 'USW00014926', 'USC00217326', 'US1MNCG0007', 'US1MNWG0020', 'USC00218039', 'USC00218191', 'USC00218215', 'USC00218227', 'US1MNPG0004', 'USC00218247', 'USC00218254', 'US1MNCK0003', 'USC00218311', 'USC00218323', 'US1MNNR0001', 'USC00218419', 'US1MNLK0004', 'USC00218421', 'US1MNLK0005', 'USC00218450', 'USC00218477', 'USC00218520', 'US1MNCV0022', 'USC00218552', 'USC00218618', 'US1MNMS0005', 'USC00218674', 'US1MNWC0005', 'USC00218692', 'USC00218700', 'US1MNCV0008', 'USC00218729', 'USC00218808', 'USC00218907', 'USC00218947', 'USC00218986', 'US1MNKD0003', 'USC00219001', 'USC00219033', 'USC00219046', 'USC00219059', 'USC00219072', 'US1MNSL0080', 'USC00219134', 'US1MNWG0016', 'USC00219170', 'USC00219173', 'US1MNFM0010', 'US1MNSH0017', 'US1MNWB0004', 'USC00219249'])

In [99]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018'].keys()  # all stations for the first month's data - fifth level

dict_keys(['station_name', 'lat', 'lon', 'state', 'county', 'elev', 'date', 'values'])

In [100]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']['date']

'20170101'

In [102]:
parse('20170101')

datetime.datetime(2017, 1, 1, 0, 0)

In [103]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']['values'].keys() # 6 levels deep

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'])

In [104]:
len(snowfalls_json['snowfalls']) # there are 11 months of data here

11

In [105]:
# Helper function to add the day key to the base date

def fix_dates(first_day_of_month, calendar_day):
    return first_day_of_month + datetime.timedelta(days=(int(calendar_day) - 1))

In [106]:
fix_dates(parse('20170101'), '15') # should be January 15, 2019

datetime.datetime(2017, 1, 15, 0, 0)

In [107]:
# snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']['values']

In [108]:
def station_df(index, station):
    # We do not know if a value is 'M' for missing because there is 
    # less than 'T'race amounts of snow or simply not observed.  Therefore,
    # return np.nan (NaN)
    def convert_snow (amount):
        if (amount == 'T'):
            return 0.01
        elif (amount == 'M'):
            return np.nan
        else:
            return float(amount)
            
    
    first_day_of_month = parse(snowfalls_json['snowfalls'][index]['data']['data'][station]['date'])
    snowfall_dict = snowfalls_json['snowfalls'][index]['data']['data'][station]['values']
    
    dates = [fix_dates(first_day_of_month, date) for date in snowfall_dict.keys()]
    snow = [convert_snow(amount) for amount in snowfall_dict.values()]
    
    return pd.DataFrame({
        'station': station,
        'name': snowfalls_json['snowfalls'][index]['data']['data'][station]['station_name'],
        'county': snowfalls_json['snowfalls'][index]['data']['data'][station]['county'],
        'longitude': float( snowfalls_json['snowfalls'][index]['data']['data'][station]['lon'] ),
        'latitude': float( snowfalls_json['snowfalls'][index]['data']['data'][station]['lat'] ),
        'date': dates,
        'snowfall': snow
    })

# Compare the Stucture of the JSON object to the DataFrame we produce below
Both give all snowfall amounts for one repoting station for one month.  The DataFame is easier to work with but contains alot of repeated information.

In [109]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']

{'station_name': 'ADA',
 'lat': '47.30',
 'lon': '-96.52',
 'state': 'MN',
 'county': 'NORMAN',
 'elev': '907',
 'date': '20170101',
 'values': {'1': '0.0',
  '2': '2.0',
  '3': '4.2',
  '4': '0.0',
  '5': '0.0',
  '6': '0.0',
  '7': '0.0',
  '8': '0.0',
  '9': '0.5',
  '10': '1.0',
  '11': '3.5',
  '12': '0.0',
  '13': '0.0',
  '14': '0.0',
  '15': '0.0',
  '16': '0.0',
  '17': '0.0',
  '18': '0.0',
  '19': '0.0',
  '20': '0.0',
  '21': '0.0',
  '22': '0.0',
  '23': '0.0',
  '24': '0.0',
  '25': '0.0',
  '26': '0.0',
  '27': '0.0',
  '28': '0.0',
  '29': '0.0',
  '30': '0.0',
  '31': '0.0'}}

In [110]:
station_df(0,'USC00210018')

        station name  county  longitude  latitude       date  snowfall
0   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-01       0.0
1   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-02       2.0
2   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-03       4.2
3   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-04       0.0
4   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-05       0.0
5   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-06       0.0
6   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-07       0.0
7   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-08       0.0
8   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-09       0.5
9   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-10       1.0
10  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-11       3.5
11  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-12       0.0
12  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-13       0.0
13  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-14       0.0
14  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-15       0.0
15  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-16       0.0
16  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-17       0.0
17  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-18       0.0
18  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-19       0.0
19  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-20       0.0
20  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-21       0.0
21  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-22       0.0
22  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-23       0.0
23  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-24       0.0
24  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-25       0.0
25  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-26       0.0
26  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-27       0.0
27  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-28       0.0
28  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-29       0.0
29  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-30       0.0
30  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-31       0.0

In [111]:
# Now grab all of the stations for one month - i.e., one position on the list:

def all_stations_one_month(index):
    
    stations = snowfalls_json['snowfalls'][index]['data']['data'].keys()
    
    list_of_df = [station_df(index, station) for station in stations]
    
    long_df = pd.concat(list_of_df)
    
    # Now - fix up the index:
    long_df.reset_index(drop=True, inplace=True)
    
    return long_df

In [112]:
date1 = all_stations_one_month(0)

In [113]:
date1.shape

(9641, 7)

In [114]:
date1.describe()

         longitude     latitude     snowfall
count  9641.000000  9641.000000  7289.000000
mean    -93.773023    45.621286     0.375334
std       1.423072     1.358493     1.018711
min     -96.870000    43.520000     0.000000
25%     -94.830000    44.660000     0.000000
50%     -93.500000    45.130000     0.000000
75%     -92.910000    46.810000     0.010000
max     -89.690000    48.840000    10.000000

In [115]:
date1

          station      name   county  longitude  latitude       date  snowfall
0     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-01       0.0
1     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-02       2.0
2     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-03       4.2
3     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-04       0.0
4     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-05       0.0
5     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-06       0.0
6     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-07       0.0
7     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-08       0.0
8     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-09       0.5
9     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-10       1.0
10    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-11       3.5
11    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-12       0.0
12    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-13       0.0
13    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-14       0.0
14    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-15       0.0
15    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-16       0.0
16    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-17       0.0
17    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-18       0.0
18    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-19       0.0
19    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-20       0.0
20    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-21       0.0
21    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-22       0.0
22    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-23       0.0
23    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-24       0.0
24    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-25       0.0
25    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-26       0.0
26    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-27       0.0
27    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-28       0.0
28    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-29       0.0
29    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-30       0.0
...           ...       ...      ...        ...       ...        ...       ...
9611  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-02       NaN
9612  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-03       0.5
9613  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-04       NaN
9614  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-05       NaN
9615  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-06       NaN
9616  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-07       NaN
9617  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-08       NaN
9618  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-09       NaN
9619  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-10       0.0
9620  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-11       5.5
9621  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-12       0.0
9622  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-13       NaN
9623  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-14       NaN
9624  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-15       NaN
9625  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-16       NaN
9626  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-17       NaN
9627  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-18       NaN
9628  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-19       0.0
9629  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-20       NaN
9630  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-21       NaN
9631  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-22       NaN
9632  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-23       NaN
9633  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-24       NaN
9634  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-25       4.0
9635  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-26       NaN
9636  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-27       NaN
9637  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-28       NaN
9638  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-29       NaN
9639  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-30       NaN
9640  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-31       NaN

[9641 rows x 7 columns]

In [122]:
# Now piece this all together:
# Remember of json object is a global variable

def all_stations_all_months():
    
    number_of_stations = len(snowfalls_json['snowfalls'])
    
    # stations = snowfalls_json['snowfalls'][index]['data']['data'].keys()
    # remember we have one station with no data 201512 <Response [404]>
    # for the key '201512', the 'data' key maps to False
    
    list_of_df = [all_stations_one_month(index) for index in range(number_of_stations)\
                  if snowfalls_json['snowfalls'][index]['data']]
    
    long_df = pd.concat(list_of_df)
    
    # Now - fix up the index:
    long_df.reset_index(drop=True, inplace=True)
    
    return long_df

In [123]:
all_amounts_df = all_stations_all_months()

In [124]:
all_amounts_df.shape

(107058, 7)

In [126]:
all_amounts_df.describe()

           longitude       latitude      snowfall
count  107058.000000  107058.000000  78237.000000
mean      -93.746734      45.597274      0.498753
std         1.402567       1.339999      1.414293
min       -96.940000      43.520000      0.000000
25%       -94.610000      44.670000      0.000000
50%       -93.490000      45.140000      0.000000
75%       -92.890000      46.710000      0.010000
max       -89.690000      48.840000     25.000000

In [127]:
# Remove missing data
all_amounts_df.dropna(inplace=True)

In [128]:
all_amounts_df.shape

(78237, 7)

In [129]:
len(all_amounts_df['date'].unique())

301

In [130]:
len(all_amounts_df['station'].unique())

548